<!--
  <h3>Todo List</h3>

<div class="form">
  <input type="text" placeholder="What to do?" [(ngModel)]="todoText">
  <button (click)="addTodo()">Add Todo</button>
</div>

You have {{ todoList.length }} ToDos

<ul>
  <li *ngFor="let todo of todoList">{{todo}}</li>
</ul>

<hr>
<app-temp-calculator></app-temp-calculator>-->


<app-nav-bar></app-nav-bar>

<router-outlet>
  <!-- Here, ng wiññ render your page -->
</router-outlet>

<br>
FOOTER HERE

<!-- ctrl + p -->
<!-- cmd + p -->

<!--
  <h3>Hello from Angular..!</h3>
<h4>{{ name }}</h4>


<input type = "text" placeholder = "Type Something" [(ngModel)]="name">
<button (click)="sayHello()">Click me!</button>

<hr>
<label>The Count is: </label>
<label>{{count}}</label>
<button (click)="increaseCounter()">Increase</button>

<router-outlet></router-outlet>
-->

